/*******************************************************************************
 * Styles for the base elements of the theme.
 ******************************************************************************/

// Typography

p, em, div, li, span, strong {
  color: var(--global-text-color);
}

h1 {
  font-size: 28px;
  display: block;
  width: fit-content;
  color: #1a1f24;
  background: linear-gradient(104deg, rgba(254,213,122,0) 0.9%, #fed57a 2.4%, rgba(254,213,122,0.5) 5.8%, rgba(254,213,122,0.1) 93%, rgba(254,213,122,0.7) 96%, rgba(254,213,122,0) 98%),linear-gradient(183deg, rgba(254,213,122,0) 0%, rgba(254,213,122,0.3) 7.9%, rgba(254,213,122,0) 15%);
  text-shadow: -0.15em 0.15em 0.42em rgba(254,213,122,0.7),0.15em -0.15em 0.31em #fff,-0.15em -0.15em 1.3em #fff;
}

h2 {
  font-size: 20px;
  width: fit-content;
  color: #1a1f24;
  background: linear-gradient(104deg, rgba(254,213,122,0) 0.9%, #fed57a 2.4%, rgba(254,213,122,0.5) 5.8%, rgba(254,213,122,0.1) 93%, rgba(254,213,122,0.7) 96%, rgba(254,213,122,0) 98%),linear-gradient(183deg, rgba(254,213,122,0) 0%, rgba(254,213,122,0.3) 7.9%, rgba(254,213,122,0) 15%);
  text-shadow: -0.15em 0.15em 0.42em rgba(254,213,122,0.7),0.15em -0.15em 0.31em #fff,-0.15em -0.15em 1.3em #fff;
}

h3 {
  font-size: 20px;
  width: fit-content;
  color: #1a1f24;
}

hr {
  border-top: 1px solid var(--global-divider-color);
}

// Distance between table columns
.table-sm td, .table-sm th {
  margin-right: 32px;
}

table {
    td, th {
      color: var(--global-text-color);
    }
    td {
      vertical-align: middle;
      font-size: 1rem;
      overflow-wrap: break-word;
    }
    th {
      width: 120px;
      vertical-align: middle !important;
      padding-right: 24px;
      font-weight: 400;
      text-align: left;
      font-family: "Ubuntu Mono",monospace;
      font-size: 0.8em;
    }
}

a, table.table a {
  color: var(--global-theme-color);
  &:hover {
    background: linear-gradient(104deg, rgba(142,233,255,0) 0.9%, #8ee9ff 2.4%, rgba(142,233,255,0.5) 5.8%, rgba(142,233,255,0.1) 93%, rgba(142,233,255,0.7) 96%, rgba(142,233,255,0) 98%),linear-gradient(183deg, rgba(142,233,255,0) 0%, rgba(142,233,255,0.3) 7.9%, rgba(142,233,255,0) 15%);
    text-shadow: -0.15em 0.15em 0.42em rgba(142,233,255,0.7),0.15em -0.15em 0.31em #fff,-0.15em -0.15em 1.3em #fff;
    color: var(--global-hover-color);
  }
  &:hover:after :not(.nav-item.dropdown) {
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .table {
    .th {
      width: auto;
    }
  }
}

// Typewriter effect for home page

// Center text if on small mobile screen
@media screen and (max-width: 500px) {
  .typewriter {
    display: flex;
    margin: auto;
 }
}

.typewriter {
  width: fit-content !important;
}

.typewriter h1 {
  background: none;
  text-shadow: none;
  text-align: right;
  width: fit-content;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .1em solid var(--global-text-color); /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  letter-spacing: 0em; /* Adjust as needed */
  animation:
    typing 1.75s steps(20, end),
    blink-caret .6s step-end 7;
    border-right: .1em solid transparent;
}

/* The typing effect */
@keyframes typing {
  from { width: 0;
  }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: var(--global-text-color); }
}

// Figures in blog posts

figure, img {
  max-width: 90vw;
  display: inline;
}

blockquote {
  background: var(--global-bg-color);
  border-left: 2px solid var(--global-theme-color);
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  font-size: 1.2rem;
}

// Math

.equation {
  margin-bottom: 1rem;
  text-align: center;
}

// Caption

.caption {
  font-size: 0.875rem;
  margin-top: 0.75rem;
  margin-bottom: 1.5rem;
  text-align: center;
}

// Card

.projects a:hover .card-title {
  color: none;
}

.card {
  background-color: var(--global-card-bg-color);

  img {
    width: 100%;
  }

  .card-title {
    color: var(--global-theme-color);
    background: none;
    text-shadow: none;
  }

  .text-lowercase {
    text-transform: none !important;
  }

  .card-item {
    width: auto;
    margin-bottom: 10px;

    .row {
      display: flex;
      align-items: center;
    }
  }
}

// Citation

.citation, .citation-number {
  color: var(--global-theme-color);
}

// Profile
.container.mt-5 div.post article div.profile.float-right figure picture img.img-fluid.z-dept-1.rounded {
  float: none;
}

.profile {
  width: 100%;
  .address {
    margin-bottom: 30px;
    margin-top: 5px;
    font-family: monospace;
    font-size: 0.75rem !important;
    text-align: center;
    p {
      display: block;
      margin-left: 0;
    }
  }
}

@media (min-width: 576px) {
  .profile {
    width: 30%;
    margin: auto auto 25px 25px;
    .address {
      margin: auto auto 20px auto;
      p, .fa, .fas, .fab, .ai, .btn {
        width: 20%;
      }
    }
  }
}

.post-description {
  text-align: left;
  font-size: 1rem !important;
  line-height: 1.5;
  margin-top: 1em;
  margin-bottom: 2rem;
  a {
    color: var(--global-theme-color);
    &:hover {
      color: var(--global-text-color);
      text-decoration: none;
    }
  }
}

// Resouces customization
.general-resources-left {
  float: left;
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
}

.general-resources-right {
  float: left;
  justify-content: flex-end;
  display: flex;
  flex-direction: column;
  }


// Navbar customization

.navbar {
  box-shadow: none;
  border-bottom: 1px solid var(--global-divider-color);
  background-color: var(--global-bg-color);
  opacity: 0.95;
}
.navbar .dropdown-menu {
  background-color: var(--global-bg-color);
  border: 1px solid var(--global-divider-color);
  a:not(.active) {
    color: var(--global-text-color);
  }
  a:hover {
    background: linear-gradient(104deg, rgba(142,233,255,0) 0.9%, #8ee9ff 2.4%, rgba(142,233,255,0.5) 5.8%, rgba(142,233,255,0.1) 93%, rgba(142,233,255,0.7) 96%, rgba(142,233,255,0) 98%),linear-gradient(183deg, rgba(142,233,255,0) 0%, rgba(142,233,255,0.3) 7.9%, rgba(142,233,255,0) 15%);
    text-shadow: -0.15em 0.15em 0.42em rgba(142,233,255,0.7),0.15em -0.15em 0.31em #fff,-0.15em -0.15em 1.3em #fff;
    color: var(--global-hover-color);
  }
  .dropdown-divider {
    border-top: 1px solid var(--global-divider-color) !important;
  }
}
.dropdown-item {
  color: var(--global-text-color);
    &:hover {
      color: var(--global-hover-color);
      background-color: var(--global-bg-color);
    }
}
.navbar.navbar-light {
  a {
    &:hover {
      text-shadow: -0.15em 0.15em 0.42em rgba(142,233,255,0.7),0.15em -0.15em 0.31em #fff,-0.15em -0.15em 1.3em #fff;
      color: var(--global-hover-color);
      background: linear-gradient(104deg, rgba(142,233,255,0) 0.9%, #8ee9ff 2.4%, rgba(142,233,255,0.5) 5.8%, rgba(142,233,255,0.1) 93%, rgba(142,233,255,0.7) 96%, rgba(142,233,255,0) 98%),linear-gradient(183deg, rgba(142,233,255,0) 0%, rgba(142,233,255,0.3) 7.9%, rgba(142,233,255,0) 15%);
    }
  }
  .navbar-brand {
    margin-left: 4px;
    font-weight: 500 !important;
    font-size: 1rem;
    padding-top: 0px;
    padding-bottom: 0px;
    color: var(--global-text-color);
  }
  .navbar-nav .nav-item .nav-link {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 8px;
    margin-bottom: 8px;
    color: var(--global-text-color);
    &:hover {
      color: var(--global-hover-color);
      transition: none;
    }
  }
  .navbar-nav .nav-item.active>.nav-link {
      background-color: inherit;
      font-weight: bolder;
      color: var(--global-theme-color);
      &:hover {
        color: var(--global-text-color);
      }
  }

  .dropdown-item {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .navbar-brand.social {
    padding-bottom: 0;
    padding-top: 0;
    font-size: 1.7rem;
    font-weight: bold !important;
    a {
      i::before {
        color: var(--global-text-color);
        transition-property: all 0.2s ease-in-out;
      }
      &:hover {
        i::before {
          color: var(--global-theme-color);
        }
      }
    }
  }
}

.navbar-toggler {
  .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    background-color: var(--global-text-color);
    border-radius: 1px;
    margin-bottom: 4px;
    transition: all 0.2s;
  }
  .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
  }
  .middle-bar {
    opacity: 0;
  }
  .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
  }
}

.navbar-toggler.collapsed {
  .top-bar {
    transform: rotate(0);
  }
  .middle-bar {
    opacity: 1;
  }
  .bottom-bar {
    transform: rotate(0);
  }
}

// Social (bottom)

.social {
  text-align: center;
  .contact-icons {
    font-size: 1.5rem;
    a {
      i::before {
        color: var(--global-text-color);
        transition-property: all 0.2s ease-in-out;
      }
      &:hover {
        i::before {
          color: var(--global-theme-color);
        }
      }
    }
  }
  .contact-note {
    font-size: 0.8rem;
  }
}

// Footer
footer.fixed-bottom {
  border-top: 1px solid #e8e8e8;
  background-color: var(--global-footer-bg-color);
  font-size: 0.75rem;
  text-align: center;
  .container {
    color: var(--global-footer-text-color);
    padding-top: 12px;
    padding-bottom: 12px;
  }
  a {
    color: var(--global-footer-link-color);
    &:hover {
      color: var(--global-footer-text-color);
      text-decoration: none;
    }
  }
}

footer.sticky-bottom {
  border-top: 1px solid var(--global-divider-color) !important;
  padding-top: 40px;
  padding-bottom: 0px;
  font-size: .75rem !important;
  text-align: center !important;
}

// Blog

div.row.mt-3 {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

.header-bar {
  border-bottom: 1px solid var(--global-divider-color);
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 5rem;
  h1 {
    color: var(--global-theme-color);
    font-size: 5rem;
  }
}

li h3 {
    display: inline-block;
    text-align: center;
}

.post-list {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  li {
    text-align: center;
    border-bottom: 1px solid var(--global-divider-color);
    list-style: none;
    padding-top: 2rem;
    padding-bottom: 2rem;
    .post-meta {
      color: var(--global-text-color-light);
      font-size: 0.875rem;
      margin-bottom: 0;
    }
    .post-tags {
      color: var(--global-text-color-light);
      font-size: 0.875rem;
      padding-top: 0.25rem;
      padding-bottom: 0;
    }
    a {
      color: var(--global-text-color);
      text-decoration: none;
      text-shadow: none;
      background: white;
      transition: none;
      text-align: center;
      &:hover {
        color: var(--global-theme-color);
      }
    }
  }
}

.pagination {
  .page-item {
    .page-link {
      color: var(--global-text-color);
      &:hover {
        background: linear-gradient(104deg, rgba(142,233,255,0) 0.9%, #8ee9ff 2.4%, rgba(142,233,255,0.5) 5.8%, rgba(142,233,255,0.1) 93%, rgba(142,233,255,0.7) 96%, rgba(142,233,255,0) 98%),linear-gradient(183deg, rgba(142,233,255,0) 0%, rgba(142,233,255,0.3) 7.9%, rgba(142,233,255,0) 15%);
        text-shadow: -0.15em 0.15em 0.42em rgba(142,233,255,0.7),0.15em -0.15em 0.31em #fff,-0.15em -0.15em 1.3em #fff;
        color: var(--global-hover-color);
      }
    }
    &.active .page-link {
      background-color: inherit;
      font-weight: bolder;
      color: var(--global-theme-color);
      background: none;
      text-shadow: none;
      border-radius: 10%;
      box-shadow: 0 2px 5px 0 var(--global-theme-color);
      &:hover {
        background: linear-gradient(104deg, rgba(142,233,255,0) 0.9%, #8ee9ff 2.4%, rgba(142,233,255,0.5) 5.8%, rgba(142,233,255,0.1) 93%, rgba(142,233,255,0.7) 96%, rgba(142,233,255,0) 98%),linear-gradient(183deg, rgba(142,233,255,0) 0%, rgba(142,233,255,0.3) 7.9%, rgba(142,233,255,0) 15%);
        text-shadow: -0.15em 0.15em 0.42em rgba(142,233,255,0.7),0.15em -0.15em 0.31em #fff,-0.15em -0.15em 1.3em #fff;
        color: var(--global-hover-color);
      }
    }
  }
}


// Distill

.distill {
  a:hover {
    border-bottom-color: var(--global-theme-color);
    text-decoration: none;
  }
}


// Projects

.projects {
  a {
    text-decoration: none;
    text-shadow: none;
    background: white;
    transition: none;
  }

  .card {
    img {
      width: 100%;
    }
  }

  .card-item {
    width: auto;
    margin-bottom: 10px;

    .row {
      display: flex;
      align-items: center;
    }
  }

  .grid-sizer, .grid-item {
    width: 250px;
    margin-bottom: 10px;
  }

  h2.category {
    margin-top: 2rem;
    margin-bottom: 1.5rem;
  }
}

// Research Projects

@media screen and (max-width: 500px) {
  .projectpage {
    .overallcontainer {
      grid-template-columns: 100% !important;
      row-gap: 20px !important;
    .logoimage {
      max-width: 75% !important;
  }
  }
 }
}

.projectpage {

  .overallwrapper {

    max-width: 900px;
    margin-right: auto;
    margin-left: auto;
    position: relative;

    .overallcontainer {
      display: grid;
      grid-template-columns: 161px calc(100% - 25px - 161px);
      grid-template-rows: auto;
      row-gap: 40px;
      column-gap: 50px;
      align-items: center;
      margin-bottom: 30px;

        .gridelement {
          justify-self: start;
          align-self: start;

            .logoimage {
              max-width: 100%;
              padding: 4px;
              border: 1px;
              height: auto;
              object-fit: cover;
              margin-top: 10px;
            }

            .projecttext {
              margin: auto auto 12px auto;
              line-height: 175%;
            }

            .projectlinks {
              margin: 18px auto auto auto;
              line-height: 150%;
            }

        }
        }

    }
}

// Publications

// Subtitles on Publication page

// Subtitles on Publication page

@media screen and (max-width: 500px) {
article h4::before {
    width: 100px !important;
    margin-bottom: 0px !important;
    }
  }

article h4::before {
  display: inline-block;
  content: "";
  border-top: 0.15rem solid black;
  transform: translateY(-0.29rem);
  width: 194px;
  margin-top: 3rem;
  margin-left: 0;
  margin-right: 1rem;
}

article h4  {
  margin-bottom: 1rem;
  font-size: 20px;
  background: none;
  text-shadow: none;
  font-weight: 600;
  color: black;
}

article h5  {
  font-size: 20px;
}

.publications {
  margin-top: 2rem;
  margin-bottom: 3rem;
  h1 {
    color: var(--global-theme-color);
    font-size: 2rem;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
  }
    span {
      font-size: 1.5rem;
    }
  }
  h5.year {
    text-align: right;
    color: #747373;
    font-weight: 300;
    border-top: 1px solid var(--global-divider-color);
    padding-top: 1rem;
    margin-top: 2rem;
    margin-bottom: -2rem;
    background: none;
    text-shadow: none;
  }
  ol.bibliography {
    list-style: none;
    padding: 0;
    margin-top: 0;

    li {
      margin-bottom: 1rem;
      .abbr {
        height: 2rem;
        margin-bottom: 0.5rem;
        abbr {
          display: inline-block;
          background-color: white;
          border-style: solid;
          border-width: 1px;
          border-color: var(--global-theme-color) !important;
          color: var(--global-theme-color) !important;
          text-shadow: none;
          padding-left: 0.5rem;
          padding-right: 0.5rem;
          a {
            color: white;
            &:hover {
              text-decoration: none;
            }
          }
        }
        .award {
          color: var(--global-theme-color) !important;
          border: 1px solid var(--global-theme-color);
        }
      }
      .title {
        font-weight: bolder;
      }
      .author {
        a {
          &:hover {
              text-decoration: none;
          }
        }
        > em {
          border-bottom: 1px solid;
          font-style: normal;
        }
      }
      .links {
        a.btn {
          color: var(--global-text-color);
          border: 1px solid var(--global-text-color);
          padding-left: 1rem;
          padding-right: 1rem;
          padding-top: 0.25rem;
          padding-bottom: 0.25rem;
          &:hover {
            color: var(--global-theme-color);
            border-color: var(--global-theme-color);
          }
        }
      }
      .hidden {
        font-size: 0.875rem;
        max-height: 0px;
        overflow: hidden;
        text-align: justify;
        transition-property: 0.15s ease;
        -moz-transition: 0.15s ease;
        -ms-transition: 0.15s ease;
        -o-transition: 0.15s ease;
        transition: all 0.15s ease;

        p {
          line-height: 1.4em;
          margin: 10px;
        }
        pre {
          font-size: 1em;
          line-height: 1.4em;
          padding: 10px;
        }
      }
      .hidden.open {
        max-height: 100em;
        transition-property: 0.15s ease;
        -moz-transition: 0.15s ease;
        -ms-transition: 0.15s ease;
        -o-transition: 0.15s ease;
        transition: all 0.15s ease;
      }
      div.abstract.hidden {
        border: dashed 1px var(--global-bg-color);
      }
      div.abstract.hidden.open {
        border-color: var(--global-text-color);
      }
    }
  }


/// Publication buttons
// PDF + BiBTeX button
a.btn.btn-sm.z-depth-0.waves-effect.waves-light {
  border-color: var(--global-theme-color) !important;
  border-radius: 8px;
  color: white;
  font-size: .75em;
  font-family: "Ubuntu Mono",monospace;
  font-weight: 600;
  line-height: 1;
  background-color: var(--global-theme-color) !important;
  text-shadow: none;
  margin: 0.375rem 0.375rem .375rem 0rem;
  &:hover {
    color: var(--global-theme-color);
    background-color: white !important;
    border-style: dashed;
    border-color: var(--global-theme-color) !important;
  }
}

// Abstract button
a.abstract.btn.btn-sm.z-depth-0.waves-effect.waves-light {
  border-color: #c4820e !important;
  border-radius: 8px;
  color: white;
  font-size: .75em;
  font-family: "Ubuntu Mono",monospace;
  font-weight: 600;
  line-height: 1;
  background-color: #c4820e !important;
  text-shadow: none;
  margin: 0.375rem 0.375rem .375rem 0rem;
  &:hover {
    color: #c4820e;
    background-color: white !important;
  }
}

// Textbox when abstract open
div.abstract.hidden.open {
  border-color: rgba(254,213,122,0.3) !important;
  border-radius: 8px;
  background-color: rgba(254,213,122,0.3);
  text-align: justify;
  font-size: .75em;
  line-height: 1.2;
}

// Rouge Color Customization
figure.highlight {
  margin: 0 0 1rem;
}

pre {
  color: var(--global-theme-color);
  background-color: var(--global-code-bg-color);
  border-radius: 6px;
  padding: 6px 12px;
  pre, code {
    background-color: transparent;
    border-radius: 0;
    padding: 0;
  }
}

code {
  color: var(--global-theme-color);
  background-color: var(--global-code-bg-color);
  border-radius: 3px;
  padding: 3px 3px;
}

// Extra Markdown style (post Customization)
.post{
  align-items: center;
  .post-meta{
    color: var(--global-text-color-light);
    font-size: 0.875rem;
    margin-bottom: 0;
  }
  .post-tags{
    color: var(--global-theme-color);
    font-size: 0.875rem;
    padding-top: 0.25rem;
    padding-bottom: 1rem;
    a {
      color: var(--global-theme-color);
      text-decoration: none;
      &:hover {
        color: var(--global-theme-color);
        background: linear-gradient(104deg, rgba(142,233,255,0) 0.9%, #8ee9ff 2.4%, rgba(142,233,255,0.5) 5.8%, rgba(142,233,255,0.1) 93%, rgba(142,233,255,0.7) 96%, rgba(142,233,255,0) 98%),linear-gradient(183deg, rgba(142,233,255,0) 0%, rgba(142,233,255,0.3) 7.9%, rgba(142,233,255,0) 15%);
        text-shadow: -0.15em 0.15em 0.42em rgba(142,233,255,0.7),0.15em -0.15em 0.31em #fff,-0.15em -0.15em 1.3em #fff;
        color: var(--global-hover-color);
      }
    }
  }
  .post-header{
    align-items: center;
    text-align: center !important;
  }
  h6.post-title {
    font-size: 28px;
    display: inline-block;
    width: fit-content;
    background: none;
    text-shadow: none;
    margin-top: 24px;
    margin-bottom: 24px;
  }
  .post-content{
    h2 {
      width: fit-content;
    }
    p {
      word-wrap: break-word;
      color: var(--global-text-color);
      line-height: 1.8em;
      font-size: 16px;
      text-transform: none;
      text-decoration: none;
      margin: 0 0 1rem;
      margin-top: 0px;
      text-align: left;
    }
    blockquote {
      padding: 8px;
      margin: 1em 0;
      padding: 0 0 0 1em;
      border: 1px solid var(--global-text-color);
        border-top-width: 1px;
        border-right-width: 1px;
        border-bottom-width: 1px;
        border-left-width: 1px;
      border-width: 0 0 0 1px;
      font-size: 16px;
      line-height: 1.8em;
    }
    ul{
      padding-left: 20px;
      li {
      list-style: inside;
      border: none;
      line-height: 1.8;
      padding-bottom: 6px;
    }
  }
    ol {
      padding-left: 20px;
      li {
        border: none;
        line-height: 1.8;
        padding-bottom: 6px;
      }
    }
    img.img-fluid.rounded.z-depth-1 {
      display: block;
      width: 50%;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

// Button customization

.fa, .fas, .fab, .ai, .btn, .fab {
  color: var(--global-text-color);
  background: none;
  text-shadow: none;
  &:hover {
    color: var(--global-theme-color);
    text-shadow: none;
    background: white;
    transition: none;
  }
  &:hover:after :not(.nav-item.dropdown) {
    color: #1a1f24;
  }
}
